@using MyBlog.Entity.DTO.WorkDTO
@using MyBlog.Entity.Result
@model UIResponse<IEnumerable<WorkGetDTO>>

@{
    ViewData["Title"] = "Work";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // Örnek bir DateTime nesnesi oluşturuluyor

    // // DateTime nesnesini bir tarih formatına çevirme
    // string formattedDate = startingDate.ToString("yyyy-MM-dd");
    // string formattedDate2 = endingDate.ToString("yyyy-MM-dd");
    // mode
}

<div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">Eğitimlerim</h6>
    <button type="button" class="btn btn-outline-success m-2 float-end" id="ekle" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ekle</button>
    <!-- Button trigger modal -->

    <div class="modal fade" id="staticBackdropUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <form id="form">
                    <div class="modal-header bg-secondary">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>

                    <div class=" bg-secondary modal-body">
                        <input hidden name="Id" type="text" class="form-control" id="IdWork">
                        <div class="form-floating mb-3 d-flex justify-content-center">
                            <img style="height:150px; width:150px; border-radius:50%;" src="" id="Photo11" alt="Profil Resmi">
                            <input autocomplete="off" name="Image" type="text" class="form-control" id="PhotoWork" hidden="hidden">
                        </div>
                        <input autocomplete="off" name="Image" type="text" class="form-control" id="Image" hidden="hidden">
                        <div class="mb-3">
                            <input name="Photo" class="form-control bg-dark" id="FormFile" type="file" value="">
                            <label for="formFileSm" class="form-label">Profil Resmi Seç</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" name="Url" type="text" class="form-control" id="UrlWork" placeholder="Url" required>
                            <label for="floatingInput">Url</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" name="CompanyName" type="text" class="form-control" id="CompanyName" placeholder="İş Yeri Adı" required>
                            <label for="floatingInput">İş Yeri Adı</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" name="Title" type="text" class="form-control" id="Title" placeholder="Ünvan" required>
                            <label for="floatingInput">Ünvan</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" name="Experience" type="text" class="form-control" id="Experience" placeholder="Tecrübe" required>
                            <label for="floatingInput">Tecrübe</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" name="Description" type="text" class="form-control" id="Description" placeholder="Açıklama" required>
                            <label for="floatingInput">Açıklama</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" type="date" name="StartingDate" type="text" class="form-control" id="StartingDate" placeholder="Başlangıç Tarihi" required>
                            <label for="floatingInput">Başlangıç Tarihi</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input autocomplete="off" type="date" name="EndingDate" type="text" class="form-control" id="EndingDate" placeholder="Bitiş Tarihi" required>
                            <label for="floatingInput">Bitiş Tarihi</label>
                        </div>
                    </div>
                    <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" id="update" class="btn btn-outline-success">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class=" col-md-3"></th>
                <th class="col-md-3 p-3">İş Yeri Adı</th>
                <th class="col-md-3 p-3">Ünvan</th>
                <th class="col-md-3 p-3">Bitiş Tarihi</th>

                <th class="col-md-4"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Update Modal-->
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td class="p-2"><img width="30" height="30" src="/images/@item.Photo" /></td>
                    <td class="p-2">@item.CompanyName</td>
                    <td class="p-2">@item.Title</td>
                    @{
                        DateTime startingDate = item.StartingDate;
                        DateTime endingDate = item.EndingDate;

                        string formattedDate = startingDate.ToString("yyyy-MM-dd");
                        string formattedDate2 = endingDate.ToString("yyyy-MM-dd");
                    }
                    <td class="p-2">@formattedDate2</td>

                    <td class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" id="guncelle" onclick="Update('@item.Id','@item.Photo','@item.CompanyName','@item.Title','@item.Experience','@item.Description','@formattedDate','@formattedDate2','@item.Url')">Güncelle</button>
                        <button type="button" id="delete" onclick="confirmDelete(@item.Id)" class="btn btn-outline-danger m-2">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script src="~/js/Work.js" asp-append-version="true"></script>