@using MyBlog.Entity.DTO.EducationDTO
@using MyBlog.Entity.Result
@model EducationWorkModel
<section id="resume" class="grey-section">
    <div class="row resume-timeline">
        <div class="col-twelve resume-header">
            <h2>İş Tecrübesi</h2>
        </div>
        @foreach (var item in Model.Work.Data)
        {
            // İki tarih arasındaki farkı hesapla
            TimeSpan difference = item.EndingDate - item.StartingDate;

            // Farkı ay ve yıl olarak ayrıştır
            int totalMonths = (item.EndingDate.Year - item.StartingDate.Year) * 12 + item.EndingDate.Month - item.StartingDate.Month;
            int years = totalMonths / 12;
            int months = totalMonths % 12;

            <div class="col-twelve">
                <div class="timeline-wrap">
                    <div class="timeline-block">
                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="timeline-header">
                            <li><a target="_blank" href="@item.Url"><i><img style="max-width: 130px;" src="~/images/@item.Photo"/></i></a></li>
                            @if (item.CurrentlyJob == true)
                            {
                                <p>@item.StartingDate.ToString("MMMM-yyyy") - Halen</p>
                            }
                            else
                            {
                                <p>@item.StartingDate.ToString("MMMM-yyyy") - @item.EndingDate.ToString("MMMM-yyyy")</p>
                            }
                            @if (years.ToString() == "0")
                            {
                                <p><span style="font-weight:bold; color:black">Tecrübe:</span> @months.ToString() ay</p>
                            }
                            else if (months.ToString()=="0")
                            {
                                <p><span style="font-weight:bold; color:black">Tecrübe:</span> @years.ToString() yıl</p>
                            }
                            else
                            {
                                <p><span style="font-weight:bold; color:black">Tecrübe:</span> @years.ToString() yıl @months.ToString() ay</p>
                            }
                        </div>
                        <div class="timeline-content">
                            <li><a target="_blank" href="@item.Url"><h4>@item.CompanyName</h4></a></li>
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row resume-timeline">
        <div class="col-twelve resume-header">
            <h2>Eğitim</h2>
        </div>
        @foreach (var item in Model.Education.Data)
        {
            <div class="col-twelve">
                <div class="timeline-wrap">
                    <div class="timeline-block">
                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-header">
                            <li><a target="_blank" href="@item.Url"><i><img style="max-width: 130px;" src="~/images/@item.Photo" /></i></a></li>
                            <h3>@item.Degree</h3>
                            <h5>Puan: @item.Score</h5>
                            @if (item.CurrentlyEducation==true)
                            {
                                <p>@item.StartingDate.ToString("MMMM-yyyy") - Halen</p>
                            }
                            else
                            {
                                <p>@item.StartingDate.ToString("MMMM-yyyy") - @item.EndingDate.ToString("MMMM-yyyy")</p>
                            }
                        </div>
                        <div class="timeline-content">
                            <li><a target="_blank" href="@item.Url"><h4>@item.SchoolName</h4></a></li>
                            @* <h4>@item.SchoolName</h4> *@
                            <h5>@item.Faculty</h5>
                            <h6>@item.Section</h6>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>